<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
      <% if current_user.friend?(@user) %>
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    <%end%>
    </ul>
  </article>
</section>
